<h1>All Landmarks</h1>
<ul>
<%@landmarks.each do |landmark|%>
  <li><a href="/landmarks/<%=landmark.id%>"><%=landmark.name%></a></li>
  <p>Year Completed: <%=landmark.year_completed%></p>
<%end%>
</ul>
