<h1>Create a new Landmark!</h1>

<form action="/landmarks" method="POST">
<label>Create the Landmark Name:</label>
  <input type="text" name="landmark[name]" id=landmark_name><br>
<lavel>Add the year of its completion: </label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed"><br>

<input type="submit" value="Create New Landmark">


</form>
